<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
</head>
<body>
    <h1>Registro</h1>
    <form action="/register" method="POST">
        <input type="text" name="nombre" id="nombre" placeholder="nombre completo">
        <input type="text" name="username" placeholder="crea un nombre de ususario">
        <input type="password" name="password" placeholder="crea una contraseña">
        <button type="submit">Registrarse</button>
    </form>
    <a href="{{ url_for('peliculas.login') }}" >¿ya tienes cuenta, padrino?</a>
</body>
</html>